---
import Logo from "../components/Logo.astro";
import { Icon } from "astro-icon";

export interface Props {
  title: string;
}

const { title } = Astro.props;
const linkStyles =
  "text-sm md:text-md md:flex items-center gap-2 rounded hover:bg-zinc-800 px-4 py-2 leading-6 group border-2";
const iconStyles = "w-6 h-6 group-hover:text-red-400 mx-auto";

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.split("/")[1]; // remove the first "/"
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta http-equiv="Content-Language" content="en" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-zinc-900 text-zinc-100">
    <header class="border-b border-zinc-800">
      <div
        class="lg:flex justify-center lg:justify-between max-w-screen-xl p-4 md:p-8 mx-auto items-center lg:h-[80px]"
      >
        <div class="flex justify-center">
          <a href="/" class="block"
            ><Logo fill={`white`} className="h-[60px] w-[200px]" /></a
          >
        </div>
        <nav
          class="gap-2 lg:gap-8 items-center justify-center lg:justify-end flex mt-8 lg:mt-0"
        >
          <a
            href="/"
            class={`${
              currentPath === "" ? "border-red-400" : "border-transparent"
            } ${linkStyles}`}
            ><Icon
              name="mdi:home"
              class={`${
                currentPath === "" ? "text-red-400" : "text-zinc-600"
              } ${iconStyles}`}
            />Home</a
          >
          <a
            href="/services"
            class={`${
              currentPath === "services"
                ? "border-red-400"
                : "border-transparent"
            } ${linkStyles}`}
            ><Icon
              name="tabler:massage"
              class={`${
                currentPath === "services" ? "text-red-400" : "text-zinc-600"
              } ${iconStyles}`}
            />Services</a
          >
          <a
            href="/pricing"
            class={`${
              currentPath === "pricing"
                ? "border-red-400"
                : "border-transparent"
            } ${linkStyles}`}
            ><Icon
              name="mdi:currency-usd"
              class={`${
                currentPath === "pricing" ? "text-red-400" : "text-zinc-600"
              } ${iconStyles}`}
            />Pricing</a
          >
          <!-- <a href="tel:+17057039470" class={linkStyles}
            ><Icon name="mdi:phone" class={iconStyles} /><span
              class="hidden md:inline">Call us</span
            ></a
          >
          <a href="sms:+17057039470" class={linkStyles}
            ><Icon name="mdi:message-reply-text" class={iconStyles} /><span
              class="hidden md:inline">Text us</span
            ></a
          >
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://maps.apple.com/?daddr=7-205 Margaret Gravenhurst Ontario P1P 1S7`"
            class={linkStyles}
            ><Icon name="mdi:location" class={iconStyles} /><span
              class="hidden md:inline">Get directions</span
            ></a
          > -->
          <a
            target="_blank"
            href="https://dsmedia.noterro.com"
            class="bg-red-700 py-2 px-4 rounded hover:bg-red-800 leading-6 md:flex items-center gap-2 group"
            ><Icon
              name="ant-design:schedule-outlined"
              class="w-6 h-6 text-red-400 group-hover:text-red-300 mx-auto"
            />Book now</a
          >
        </nav>
      </div>
    </header>
    <main class="">
      <slot />
    </main>
  </body>
</html>
